{% extends 'base.html.twig' %}

{% block body %}
    {{ dump() }}
    <table style="align:center;" border="0" cellpadding="1" cellspacing="1">
        <tbody>
        <tr>
            <td><input type="button" /><a href={{ path('btnTap') }}>{{ current }}</a></td>
            <td><input type="button" /></td>
            <td><input type="button" /></td>
        </tr>
        <tr>
            <td><input type="button" /></td>
            <td><input type="button" /></td>
            <td><input type="button" /></td>
        </tr>
        <tr>
            <td><input type="button" /></td>
            <td><input type="button" /></td>
            <td><input type="button" /></td>
        </tr>
        </tbody>
    </table>

{% endblock %}